.preloader {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--bg-color-1-primary);

  .preloader__item {
    width: var(--space-4);
    height: var(--space-4);
    border-radius: var(--radius-3);
    animation: 1s linear infinite normal bounce;

    &:nth-child(3n + 2) {
      animation-delay: -0.2s;
    }
    &:nth-child(3n + 3) {
      animation-delay: -0.4s;
    }
    &:not(:last-child) {
      margin-right: var(--space-2);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    background: var(--bg-color-4-primary);
  }
  25% {
    transform: translateY(var(--space-2));
    background: var(--bg-color-4-secondary);
  }
  50% {
    background: var(--bg-color-4-primary);
  }
  75% {
    transform: translateY(calc(var(--space-2) * -1));
    background: var(--bg-color-4-secondary);
  }
  100% {
    transform: translateY(0);
    background: var(--bg-color-4-primary);
  }
}
