.main-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  input:checked ~ .main-checkbox__box {
    background-color: currentColor;
  }
  input:focus ~ .main-checkbox__box {
    box-shadow: inset 0 0 0 3px currentColor;
  }
  input:checked ~ .main-checkbox__box > .main-checkbox__icon {
    color: var(--txt-color-1-primary);
  }
  input:disabled ~ .main-checkbox__box {
    color: var(--bg-color-2-secondary);
  }
  .main-checkbox__box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--space-3);
    height: var(--space-3);
    color: var(--bg-color-4-primary);
    box-shadow: inset 0 0 0 1px currentColor;
    border-radius: var(--radius-1);
    transition: box-shadow 0.2s ease, border 0.1s ease;
  }
  .main-checkbox__icon {
    transition: color 0.2s ease;
    color: transparent;
  }
  .main-checkbox__placeholder {
    font: inherit;
    color: inherit;
    margin-left: var(--space-1);
  }
}
